body{
	margin: 0;
	padding:0;
	background-color: #FEF7E9;
	z-index: -999;
}

header{
	width:100%;
	height:70px;
	background-color: #E83428;
}

main{
	font-family: 'Hina Mincho', serif;
	width:80%;
	margin:0 auto;
}

svg{
    width:100%;

}

h1{
	font-size:60px;
	font-weight: 400;
}

/* --------------モーダルウィンドウ-------------- */

/*全て共通：hideエリアをはじめは非表示*/
.hide-area{
	display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}



/* ----------------タブメニュー--------------- */

/*タブ切り替え全体のスタイル*/
.tabs {
	margin-top: 30px;
	padding-bottom: 0px;
	background-color: #FEF7E9;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
	width: 100%;
	margin: 0 auto;
}
  
  /*タブのスタイル*/
  .tab_item {
	width: 244px;
	height: 74px;
	/* border-bottom: 3px solid #5ab4bd; */
	background-color: #FEF7E9;
	;
	/* line-height: 30px; */
	font-size: 40px;
	text-align: center;
	color:#333;
	opacity: 30%; /**/
	display: block;
	float: left;
	font-weight: lighter;
	transition: day_1 0.2s ease;
	cursor: pointer;
  }

  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
	display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
	display: none;
	padding: 0px;
	clear: both;
	overflow: hidden;
  }
  
  
  /*選択されているタブのコンテンツのみを表示*/
  #day_1:checked ~ #day_1_content,
  #day_2:checked ~ #day_2_content,
  #design:checked ~ #design_content {
	display: block;
  }
  
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
	/* background-color: #5ab4bd; */
	color: #333;
	opacity: 100%;
  }

